<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
         <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
         </welcome-file-list>

         <servlet>
            <servlet-name>AuthServlet</servlet-name>
            <servlet-class>nhom9.phoneshop.controller.AuthServlet</servlet-class>
         </servlet>

         <servlet-mapping>
            <servlet-name>AuthServlet</servlet-name>
            <url-pattern>/auth/*</url-pattern>
         </servlet-mapping>

         <servlet>
            <servlet-name>CustomerServlet</servlet-name>
            <servlet-class>nhom9.phoneshop.controller.CustomerServlet</servlet-class>
         </servlet>

         <servlet-mapping>
            <servlet-name>CustomerServlet</servlet-name>
            <url-pattern>/customer/*</url-pattern>
         </servlet-mapping>

</web-app>